@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
:root {
    --primary-color: 111, 76, 255;

    --bg-accent: #333;
    --bg-secondary: whitesmoke;
    --secondary-text-color: #333;

    /* --bg-primary: whitesmoke; */
    /* --primary-text-color: black; */

    --bg-primary: #1e1e1e;
    --primary-text-color: #f9f9f9;

    /* --bg-accent: #cacaca; */
}

[data-theme="dark"] {
    --bg-primary: #000;
    --bg-secondary: #2e2e2e;
    --primary-text-color: #f9f9f9;
    --secondary-text-color: white;
    --bg-accent: #333;
}

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background 0.2s linear;
  background-color: #000;
}