@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
:root {
  --primary-color: 102, 51, 204; /* Slightly deeper purple */
  
  --bg-accent: #aaa; /* Softer gray for light mode */
  --bg-secondary: #4eb179; /* Less bright green */
  --secondary-text-color: #333;

  --bg--primary: #ECFDF5;
  --primary-text-color: #222; /* Darker text for better readability */
}

[data-theme="dark"] {
  --bg--primary: #207441;
  --bg-secondary: #3a3a3a; /* Slightly lighter gray for better contrast */
  --primary-text-color: #f9f9f9;
  --secondary-text-color: white;
  --bg-accent: #333;
}


html,body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  padding: 0;
  transition: background 0.2s linear;
  background-color: var(--bg--primary) !important;
  margin: 0;
  box-sizing: border-box;
}
.bg-custom{
  background-color: var(--bg--primary);
}
Footer{
  padding: 10px !important ;
}