.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}
.navbar div{
  margin: 0 20px;
}

.brandname h1 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Merienda One", sans-serif;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.links a:hover {
  text-decoration: underline;
}